In [29]:
import pandas as pd
from sqlalchemy import create_engine

In [30]:
data = pd.read_csv('Data.csv', parse_dates=['date'])
#data.info()
# data = data.rename(
#     columns={'Index': 'index', 'Date': 'date', 'Open': 'open', 'High': 'high', 'Low': 'low', 'Close': 'close',
#              'Adj Close': 'adj_close', 'Volume': 'volume'})
data.head()

,key,index,date,open,high,low,close,adjclose,volume
0,579,NYA,1965-12-31,528.690002,528.690002,528.690002,528.690002,528.690002,0.0
1,580,NYA,1966-01-03,527.210022,527.210022,527.210022,527.210022,527.210022,0.0
2,581,NYA,1966-01-04,527.840027,527.840027,527.840027,527.840027,527.840027,0.0
3,582,NYA,1966-01-05,531.119995,531.119995,531.119995,531.119995,531.119995,0.0
4,583,NYA,1966-01-06,532.070007,532.070007,532.070007,532.070007,532.070007,0.0

In [31]:
processed = pd.read_csv('Processed.csv', names=['key','index', 'date', 'open', 'high', 'low', 'close', 'adj_close', 'volume', 'close_usd'])
# processed.info()
# processed = processed.rename(columns={'Index': 'index', 'Date': 'date',
#                                       'Open': 'open', 'High': 'high',
#                                       'Low': 'low', 'Close': 'close', 'Adj Close': 'adj_close',
#                                       'Volume': 'volume', 'CloseUSD': 'close_usd'})
#processed_no_closeusd = processed[['index', 'date', 'open', 'high', 'low', 'close', 'adj_close', 'volume']]
processed.head()

,key,index,date,open,high,low,close,adj_close,volume,close_usd
0,1,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0,333.879006
1,2,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0,330.213013
2,3,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0,331.811987
3,4,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0,335.906987
4,5,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0,338.923013

In [32]:
# data["KEY"] = data.apply(lambda x: hash(tuple(x)), axis=1)
# data.head()
# processed['key'] = processed_no_closeusd.apply(lambda x: hash(tuple(x)), axis=1)
# processed.head()
info = pd.read_csv('indexInfo.csv')
info.head()
# info = info.rename(columns={'Region': 'region', 'Exchange': 'exchange', 'Index': 'index', 'Currency': 'currency'})

          Region                  Exchange      Index Currency
0  United States   New York Stock Exchange        NYA      USD
1  United States                    NASDAQ       IXIC      USD
2      Hong Kong  Hong Kong Stock Exchange        HSI      HKD
3          China   Shanghai Stock Exchange  000001.SS      CNY
4          Japan      Tokyo Stock Exchange       N225      JPY

In [33]:
engine = create_engine('postgresql://postgres:posgres@localhost:5432/kaspi')

In [34]:
data.to_sql('indexdata', engine, index=False)

In [35]:
info.to_sql('indexinfo', engine, index=False)

In [36]:
processed.to_sql('indexprocessed', engine, index=False)