In [1]:
import pandas as pd
import numpy as np

In [2]:
df_data = pd.read_csv('indexData.csv')

In [6]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112457 entries, 0 to 112456
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Index      112457 non-null  object
 1   Date       112457 non-null  object
 2   Open       110253 non-null  float64
 3   High       110253 non-null  float64
 4   Low        110253 non-null  float64
 5   Close      110253 non-null  float64
 6   Adj Close  110253 non-null  float64
 7   Volume     110253 non-null  float64
dtypes: float64(6), object(2)
memory usage: 6.9+ MB

In [3]:
df_info = pd.read_csv('indexInfo.csv')

In [7]:
df_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Region    14 non-null     object
 1   Exchange  14 non-null     object
 2   Index     14 non-null     object
 3   Currency  14 non-null     object
dtypes: object(4)
memory usage: 576.0+ bytes

In [4]:
df_processed = pd.read_csv('indexProcessed.csv')

In [8]:
df_processed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104224 entries, 0 to 104223
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Index      104224 non-null  object
 1   Date       104224 non-null  object
 2   Open       104224 non-null  float64
 3   High       104224 non-null  float64
 4   Low        104224 non-null  float64
 5   Close      104224 non-null  float64
 6   Adj Close  104224 non-null  float64
 7   Volume     104224 non-null  float64
 8   CloseUSD   104224 non-null  float64
dtypes: float64(7), object(2)
memory usage: 7.2+ MB

In [17]:
columns = list(df_processed.columns)

In [18]:
df_processed_nocusd = df_processed[columns[:-1]]

In [19]:
df_processed_nocusd

,Index,Date,Open,High,Low,Close,Adj Close,Volume
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0
...,...,...,...,...,...,...,...,...
104219,J203.JO,2021-05-25,66054.921880,66812.453130,66022.976560,66076.679690,66076.679690,0.0
104220,J203.JO,2021-05-26,66076.679690,66446.367190,66030.351560,66108.226560,66108.226560,0.0
104221,J203.JO,2021-05-27,66108.226560,66940.250000,66102.546880,66940.250000,66940.250000,0.0
104222,J203.JO,2021-05-28,66940.250000,67726.562500,66794.609380,67554.859380,67554.859380,0.0
104223,J203.JO,2021-05-31,67554.859380,68140.851560,67554.859380,67964.039060,67964.039060,0.0

In [21]:
df_not_processed = pd.concat([df_data,df_processed_nocusd]).drop_duplicates(keep=False)

In [22]:
df_not_processed

       Index        Date  Open  High  Low  Close  Adj Close  Volume
289      NYA  1967-02-23   NaN   NaN  NaN    NaN        NaN     NaN
26639    HSI  1987-01-01   NaN   NaN  NaN    NaN        NaN     NaN
26659    HSI  1987-01-29   NaN   NaN  NaN    NaN        NaN     NaN
26660    HSI  1987-01-30   NaN   NaN  NaN    NaN        NaN     NaN
26706    HSI  1987-04-06   NaN   NaN  NaN    NaN        NaN     NaN
...      ...         ...   ...   ...  ...    ...        ...     ...
108316  N100  2005-03-28   NaN   NaN  NaN    NaN        NaN     NaN
108511  N100  2005-12-26   NaN   NaN  NaN    NaN        NaN     NaN
110051  N100  2012-01-02   NaN   NaN  NaN    NaN        NaN     NaN
110643  N100  2014-05-01   NaN   NaN  NaN    NaN        NaN     NaN
112090  N100  2019-12-25   NaN   NaN  NaN    NaN        NaN     NaN

[8233 rows x 8 columns]

In [23]:
df_not_processed_no_na = df_not_processed.dropna()

In [24]:
df_not_processed_no_na

,Index,Date,Open,High,Low,Close,Adj Close,Volume
70042,KS11,1996-12-11,705.989990,709.479980,704.429993,704.679993,704.679993,28000.0
70043,KS11,1996-12-12,705.109985,706.010010,688.739990,689.380005,689.380005,25900.0
70044,KS11,1996-12-13,690.440002,695.719971,677.640015,689.070007,689.070007,26500.0
70045,KS11,1996-12-16,686.969971,686.969971,667.710022,673.919983,673.919983,22800.0
70046,KS11,1996-12-17,675.349976,680.090027,660.390015,663.349976,663.349976,31600.0
...,...,...,...,...,...,...,...,...
76218,KS11,2021-05-26,3171.909912,3183.969971,3160.300049,3168.429932,3168.429932,1269000.0
76219,KS11,2021-05-27,3170.840088,3173.860107,3142.370117,3165.510010,3165.510010,1081100.0
76220,KS11,2021-05-28,3172.090088,3198.659912,3171.850098,3188.729980,3188.729980,966000.0
76221,KS11,2021-05-31,3192.060059,3204.290039,3179.870117,3203.919922,3203.919922,1123100.0
76222,KS11,2021-06-01,3207.120117,3233.169922,3199.179932,3221.870117,3221.870117,1472570.0